.page {
    font-family: 'Roboto', sans-serif;
}

.lock {
    overflow: hidden;
}
img {
    display: block;
}

.top_section {
    background: url(../img/background_1.jpg);
    background-size: cover;
    padding-bottom: 108px;
    height: 100vh;
}

nav {
    padding-top: 30px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.lite_text {
    font-weight: 300;
}

.burger {
    display: none;
    width: 27px;
    height: 20px;
    position: relative;
    z-index: 4;
}

.burger span {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: 0.3s;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
} 

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    
}

.burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.burger.active span {
    opacity: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu_item {
    font-size: 16px;
    color: #000000;
    padding: 8px 18px;
    border: 1px solid rgba(0,0,0,0);
    transition: 0.2s;
}

.menu_item:hover {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 39px;
    font-weight: bold;

}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

.section_title {
    margin-bottom: 13px;
    text-align: center;
}

.top--section--title {
    margin-top: 170px;
}

.section_subtitle {
    font-size: 16px;
    color: #949494;
    margin-bottom: 64px;
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
}

.btn {
    flex: none;
    width: 180px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    transition: 0.5s;
    content:'';
    display: block;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #49007c, #bd0688, #49007c);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn:hover::before {
    left: -100%;
}

.first_screen {
    height: calc(100vh - 60px);
}

.tooltip {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom: 25px;
}

.tooltip::before {
    content: '';
    background: url(../img/icon/scrool.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 25px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: -56px;
}

.best {
    background: url(../img/background_2.jpg) no-repeat center;
    background-size: cover;
    color: #ffffff;

}
.best_box {
    padding: 80px 20px;
}

.best_title{
    margin-bottom: 21px;
}

.text_describe {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.best--text {
    margin-bottom: 44px;
}

.service {
    padding: 70px 0;
}

.service--section--title {
    margin-bottom: 90px;
}

.service_box {
    padding-left: 155px;
    margin-bottom: 80px;
    position: relative;
}

.service_box::before {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.service_box_design::before {
    content: url(../img/icon/work_icon_1.png);
}

.service_box_painting::before {
    content: url(../img/icon/work_icon_2.png);
}

.service_box_web_app::before {
    content: url(../img/icon/work_icon_3.png);
}

.service_box_desc_app::before {
    content: url(../img/icon/work_icon_4.png);
}

.service--box--title {
    font-weight: bold;
    margin-bottom: 10px;
}

.service--box--text {
    color: #949494;
}       

.slider {
    position: relative;
    overflow: hidden;
}

.ctrl_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 58px;
    background-color: #ffffff;
    z-index: 10;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
}

.prew_btn {
    left: 0;
}

.next_btn {
    right: 0;
}

.slide_describe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.5s;
}

.slide_describe:hover {
    opacity: 1;
}

.slide_title {
    font-weight: 400;
    margin: 70px 0 15px;
}

.slide_text {
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 20px;
    font-weight: 300;
}

.about_section {
    padding: 90px 0;
    background: url(../img/background_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.about--subtitle {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    margin-bottom: 90px;
}

.person_wrapper {
    margin-bottom: 90px;
}

.person_box {
    text-align: center;
}

.person_img {
    width: 130px;
    margin: 0 auto 25px;
}

.person_name {
    margin-bottom: 30px;
    font-weight: 700;
}

.person--text {
    color: #949494;
}