.page {
  font-family: "Roboto", sans-serif;
}

.lock {
  overflow: hidden;
}

img {
  display: block;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

/*TOP_SECTION START*/
.top_section {
  background: url(../img/background_1.jpg);
  background-size: cover;
  padding-bottom: 108px;
  height: 100vh;
}

nav {
  padding-top: 30px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}
.logo span {
  font-weight: 300;
}

.burger {
  display: none;
  width: 27px;
  height: 20px;
  position: relative;
  z-index: 4;
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  transition: 0.3s;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.burger.active span {
  opacity: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu a {
  font-size: 16px;
  color: #000000;
  padding: 8px 18px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.2s;
}
.menu a:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 39px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

.first_screen {
  height: calc(100vh - 60px);
}
.first_screen h1 {
  margin-top: 170px;
}

.section_title {
  margin-bottom: 13px;
  text-align: center;
}

.section_subtitle {
  font-size: 16px;
  color: #949494;
  margin-bottom: 64px;
  text-align: center;
}

.btn {
  flex: none;
  width: 180px;
  height: 45px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  transition: 0.5s;
  content: "";
  display: block;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #bd0688, #49007c, #bd0688);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn:hover::before {
  left: -100%;
}

.tooltip {
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  bottom: 25px;
}
.tooltip::before {
  content: "";
  background: url(../img/icon/scrool.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: -56px;
}

/*TOP_SECTION END*/
/*BEST S*/
.best {
  background: url(../img/background_2.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.best_box {
  padding: 80px 20px;
}
.best_box h2 {
  margin-bottom: 21px;
}
.best_box h2 span {
  font-weight: 300;
}
.best_box p {
  margin-bottom: 44px;
  color: #ffffff;
}

.text_describe {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

/*BEST E*/
/*SERVICE S*/
.service {
  padding: 70px 0;
}
.service h2 {
  margin-bottom: 90px;
  color: #000;
}

.service_box {
  padding-left: 155px;
  margin-bottom: 80px;
  position: relative;
}
.service_box h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}
.service_box p {
  color: #000000;
}
.service_box::before {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.service_box_design::before {
  content: url(../img/icon/work_icon_1.png);
}
.service_box_painting::before {
  content: url(../img/icon/work_icon_2.png);
}
.service_box_web_app::before {
  content: url(../img/icon/work_icon_3.png);
}
.service_box_desc_app::before {
  content: url(../img/icon/work_icon_4.png);
}

/*SERVICE E*/
/*PORTFOLIO S*/
.slider {
  position: relative;
  overflow: hidden;
}

.ctrl_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 58px;
  background-color: #ffffff;
  z-index: 10;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}
.ctrl_btn--prew {
  left: 0;
}
.ctrl_btn--next {
  right: 0;
}

.slide_describe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
}
.slide_describe:hover {
  opacity: 1;
}
.slide_describe h3 {
  font-weight: 400;
  margin: 70px 0 15px;
}
.slide_describe p {
  font-size: 14px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

/*PORTFOLIO E*/
/*ABOUT S*/
.about_section {
  padding: 90px 0;
  background: url(../img/background_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.about--subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  margin-bottom: 90px;
}

.person_wrapper {
  margin-bottom: 90px;
}

.person_box {
  text-align: center;
}
.person_box img {
  width: 130px;
  margin: 0 auto 25px;
}
.person_box h4 {
  margin-bottom: 30px;
  font-weight: 700;
}

/*ABOUT E*/