$burgerColor: #fff;
$backgroundDimming: rgba(0, 0, 0, 0.6); 
$sectionSubtitleColor: #949494;
$btnTextColor: #ffffff;
$startBtnxColor: #bd0688;
$endBtnColor: #49007c;
$textDescribeColor1: #949494;
$textDescribeColor2: #ffffff;
$textDescribeColor3: #000000;
$titleColor1: #fff;
$titleColor2: #000;
$controlBtnBGColor: #ffffff;